{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}Selection{% endblock title%}

{% block content%}

<div class="btn_div">
  <h1 class="system_title left">吉得堡國中升學補習班</h1>
  <a href="{{ url_for('logout') }}"  title="登出"><img class="logout" src="{{ url_for('static', filename='./image/logout.png') }}"></a>
</div>
<div class="btn_div">
  <p class="welcome">歡迎 , 使用者：{{user}}</p>
</div>

<div class="system_table">

    <table cellpadding="10" border='3'>
      <tr>
        <th><a href="{{ url_for('student') }}"  title="學生"><button type="onclick" value="" name="pid" style="width:300px;height:150px;border:2px #9999FF;font-size:70px;" >學生</button></a></td>
        <th><a href="{{ url_for('teacher') }}"  title="老師"><button type="onclick" value="" name="pid" style="width:300px;height:150px;border:2px #9999FF;font-size:70px;" >老師</button></a></td>
        <th><a href="{{ url_for('course') }}"  title="課程"><button type="onclick" value="" name="pid" style="width:300px;height:150px;border:2px #9999FF;font-size:70px;" >課程</button></a></td>
      </tr>
    </table>
</div>

<div>
  <img src="{{ url_for('static', filename='./image/close.png') }}" width="600" height="500" style="display:block;margin:auto;"  >
</div>


{% endblock content%}
